// AccessLayer/portal-access/angular-app/src/app/currency-converter/currency-converter.component.scss
td.label {
  font-weight: bold;
}

.header-container {
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: 100px;

  .logo {
    display: inline-block;
    background: url("assets/images/jlupin_next_server_logo.png") no-repeat;
    width: 70px;
    height: 100px;
    vertical-align: middle;
    margin-right: 15px;
  }
}

.comment {
  margin-bottom: 10px;

  p {
    font-size: 14px;
    text-align: center;
    width: 100%;
  }
}

.form-container {
  margin-bottom: 40px;

  .btn {
    margin-left: 10px;
  }
}

.result-container {
  margin-bottom: 40px;

  .table {
    max-width: 300px;
  }
}

$fadeInOpacity: 0.5;
$animationTime: 5s;
$showTime: 1s;

.architecture {
  background: url("assets/images/demoapps.png") no-repeat;
  width: 505px;
  height: 524px;
  margin: 0px auto 30px;
  overflow: hidden;

  .top-row {
    width: 505px;
    height: 300px;
    margin: 0px;
    overflow: hidden;
  }

  .portal-access {
    width: 195px;
    height: 59px;
    background: url("assets/images/demoapps_shadow_pa.png") no-repeat;
    margin: 130px 0px 0px 156px;
    opacity: 0;

    -webkit-animation: fade-portal-access $animationTime;
       -moz-animation: fade-portal-access $animationTime;
         -o-animation: fade-portal-access $animationTime;
            animation: fade-portal-access $animationTime;
  }

  .main-server {
    width: 218px;
    height: 93px;
    background: url("assets/images/demoapps_shadow_ms.png") no-repeat;
    margin: 14px 0px 0px 151px;
    opacity: 0;

    -webkit-animation: fade-main-server $animationTime;
       -moz-animation: fade-main-server $animationTime;
         -o-animation: fade-main-server $animationTime;
            animation: fade-main-server $animationTime;
  }

  .bottom-row {
    width: 505px;
    height: 224px;
    margin: 0px;
    overflow: hidden;
  }

  .left-column {
    float: left;
    width: 201px;
    height: 524px;
    margin: 0px 0px 0px 63px;
  }

  .right-column {
    float: left;
    width: 190px;
    height: 524px;
    margin: 0px 0px 0px 12px;
  }

  .currency-converter-eur {
    width: 201px;
    height: 53px;
    background: url("assets/images/demoapps_shadow_eur.png") no-repeat;
    margin: 27px 0px 0px 0px;
    opacity: 0;

    -webkit-animation: fade-currency-converter-eur $animationTime;
       -moz-animation: fade-currency-converter-eur $animationTime;
         -o-animation: fade-currency-converter-eur $animationTime;
            animation: fade-currency-converter-eur $animationTime;
  }

  .currency-converter-gbp {
    width: 201px;
    height: 54px;
    background: url("assets/images/demoapps_shadow_gbp.png") no-repeat;
    margin: 3px 0px 0px 0px;
    opacity: 0.5;
    opacity: 0;

    -webkit-animation: fade-currency-converter-gbp $animationTime;
       -moz-animation: fade-currency-converter-gbp $animationTime;
         -o-animation: fade-currency-converter-gbp $animationTime;
            animation: fade-currency-converter-gbp $animationTime;
  }

  .currency-converter-chf {
    width: 201px;
    height: 54px;
    background: url("assets/images/demoapps_shadow_chf.png") no-repeat;
    margin: 3px 0px 0px 0px;
    opacity: 0.5;
    opacity: 0;

    -webkit-animation: fade-currency-converter-chf $animationTime;
       -moz-animation: fade-currency-converter-chf $animationTime;
         -o-animation: fade-currency-converter-chf $animationTime;
            animation: fade-currency-converter-chf $animationTime;
  }

  .exchange-rates {
    width: 190;
    height: 44px;
    background: url("assets/images/demoapps_shadow_er.png") no-repeat;
    margin: 82px 0px 0px 0px;
    opacity: 0.5;
    opacity: 0;

    -webkit-animation: fade-exchange-rates $animationTime;
       -moz-animation: fade-exchange-rates $animationTime;
         -o-animation: fade-exchange-rates $animationTime;
            animation: fade-exchange-rates $animationTime;
  }

}

@keyframes fade-portal-access {
      0% { opacity: 0; }
      5% { opacity: $fadeInOpacity; }
     95% { opacity: $fadeInOpacity; }
    100% { opacity: 0; }
}
@-webkit-keyframes fade-portal-access {
      0% { opacity: 0; }
      5% { opacity: $fadeInOpacity; }
     95% { opacity: $fadeInOpacity; }
    100% { opacity: 0; }
}
@-moz-keyframes fade-portal-access {
      0% { opacity: 0; }
      5% { opacity: $fadeInOpacity; }
     95% { opacity: $fadeInOpacity; }
    100% { opacity: 0; }
}
@-o-keyframes fade-portal-access {
      0% { opacity: 0; }
      5% { opacity: $fadeInOpacity; }
     95% { opacity: $fadeInOpacity; }
    100% { opacity: 0; }
}

@keyframes fade-main-server {
      0% { opacity: 0; }
      5% { opacity: 0; }
     10% { opacity: $fadeInOpacity; }
     30% { opacity: $fadeInOpacity; }
     35% { opacity: 0; }
     40% { opacity: $fadeInOpacity; }
     60% { opacity: $fadeInOpacity; }
     65% { opacity: 0; }
     70% { opacity: $fadeInOpacity; }
     90% { opacity: $fadeInOpacity; }
     95% { opacity: 0; }
    100% { opacity: 0; }
}
@-webkit-keyframes fade-main-server {
      0% { opacity: 0; }
      5% { opacity: 0; }
     10% { opacity: $fadeInOpacity; }
     30% { opacity: $fadeInOpacity; }
     35% { opacity: 0; }
     40% { opacity: $fadeInOpacity; }
     60% { opacity: $fadeInOpacity; }
     65% { opacity: 0; }
     70% { opacity: $fadeInOpacity; }
     90% { opacity: $fadeInOpacity; }
     95% { opacity: 0; }
    100% { opacity: 0; }
}
@-moz-keyframes fade-main-server {
      0% { opacity: 0; }
      5% { opacity: 0; }
     10% { opacity: $fadeInOpacity; }
     30% { opacity: $fadeInOpacity; }
     35% { opacity: 0; }
     40% { opacity: $fadeInOpacity; }
     60% { opacity: $fadeInOpacity; }
     65% { opacity: 0; }
     70% { opacity: $fadeInOpacity; }
     90% { opacity: $fadeInOpacity; }
     95% { opacity: 0; }
    100% { opacity: 0; }
}
@-o-keyframes fade-main-server {
      0% { opacity: 0; }
      5% { opacity: 0; }
     10% { opacity: $fadeInOpacity; }
     30% { opacity: $fadeInOpacity; }
     35% { opacity: 0; }
     40% { opacity: $fadeInOpacity; }
     60% { opacity: $fadeInOpacity; }
     65% { opacity: 0; }
     70% { opacity: $fadeInOpacity; }
     90% { opacity: $fadeInOpacity; }
     95% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes fade-currency-converter-eur {
      0% { opacity: 0; }
     10% { opacity: 0; }
     15% { opacity: $fadeInOpacity; }
     25% { opacity: $fadeInOpacity; }
     30% { opacity: 0; }
    100% { opacity: 0; }
}
@-webkit-keyframes fade-currency-converter-eur {
      0% { opacity: 0; }
     10% { opacity: 0; }
     15% { opacity: $fadeInOpacity; }
     25% { opacity: $fadeInOpacity; }
     30% { opacity: 0; }
    100% { opacity: 0; }
}
@-moz-keyframes fade-currency-converter-eur {
      0% { opacity: 0; }
     10% { opacity: 0; }
     15% { opacity: $fadeInOpacity; }
     25% { opacity: $fadeInOpacity; }
     30% { opacity: 0; }
    100% { opacity: 0; }
}
@-o-keyframes fade-currency-converter-eur {
      0% { opacity: 0; }
     10% { opacity: 0; }
     15% { opacity: $fadeInOpacity; }
     25% { opacity: $fadeInOpacity; }
     30% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes fade-currency-converter-gbp {
      0% { opacity: 0; }
     40% { opacity: 0; }
     45% { opacity: $fadeInOpacity; }
     55% { opacity: $fadeInOpacity; }
     60% { opacity: 0; }
    100% { opacity: 0; }
}
@-webkit-keyframes fade-currency-converter-gbp {
      0% { opacity: 0; }
     40% { opacity: 0; }
     45% { opacity: $fadeInOpacity; }
     55% { opacity: $fadeInOpacity; }
     60% { opacity: 0; }
    100% { opacity: 0; }
}
@-moz-keyframes fade-currency-converter-gbp {
      0% { opacity: 0; }
     40% { opacity: 0; }
     45% { opacity: $fadeInOpacity; }
     55% { opacity: $fadeInOpacity; }
     60% { opacity: 0; }
    100% { opacity: 0; }
}
@-o-keyframes fade-currency-converter-gbp {
      0% { opacity: 0; }
     40% { opacity: 0; }
     45% { opacity: $fadeInOpacity; }
     55% { opacity: $fadeInOpacity; }
     60% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes fade-currency-converter-chf {
      0% { opacity: 0; }
     70% { opacity: 0; }
     75% { opacity: $fadeInOpacity; }
     85% { opacity: $fadeInOpacity; }
     90% { opacity: 0; }
    100% { opacity: 0; }
}
@-webkit-keyframes fade-currency-converter-chr {
      0% { opacity: 0; }
     70% { opacity: 0; }
     75% { opacity: $fadeInOpacity; }
     85% { opacity: $fadeInOpacity; }
     90% { opacity: 0; }
    100% { opacity: 0; }
}
@-moz-keyframes fade-currency-converter-chf {
      0% { opacity: 0; }
     70% { opacity: 0; }
     75% { opacity: $fadeInOpacity; }
     85% { opacity: $fadeInOpacity; }
     90% { opacity: 0; }
    100% { opacity: 0; }
}
@-o-keyframes fade-currency-converter-chf {
      0% { opacity: 0; }
     70% { opacity: 0; }
     75% { opacity: $fadeInOpacity; }
     85% { opacity: $fadeInOpacity; }
     90% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes fade-exchange-rates {
      0% { opacity: 0; }
     15% { opacity: 0; }
     20% { opacity: $fadeInOpacity; }
     25% { opacity: 0; }
     45% { opacity: 0; }
     50% { opacity: $fadeInOpacity; }
     55% { opacity: 0; }
     75% { opacity: 0; }
     80% { opacity: $fadeInOpacity; }
     85% { opacity: 0; }
    100% { opacity: 0; }
}
@-webkit-keyframes fade-exchange-rates {
      0% { opacity: 0; }
     15% { opacity: 0; }
     20% { opacity: $fadeInOpacity; }
     25% { opacity: 0; }
     45% { opacity: 0; }
     50% { opacity: $fadeInOpacity; }
     55% { opacity: 0; }
     75% { opacity: 0; }
     80% { opacity: $fadeInOpacity; }
     85% { opacity: 0; }
    100% { opacity: 0; }
}
@-moz-keyframes fade-exchange-rates {
      0% { opacity: 0; }
     15% { opacity: 0; }
     20% { opacity: $fadeInOpacity; }
     25% { opacity: 0; }
     45% { opacity: 0; }
     50% { opacity: $fadeInOpacity; }
     55% { opacity: 0; }
     75% { opacity: 0; }
     80% { opacity: $fadeInOpacity; }
     85% { opacity: 0; }
    100% { opacity: 0; }
}
@-o-keyframes fade-exchange-rates {
      0% { opacity: 0; }
     15% { opacity: 0; }
     20% { opacity: $fadeInOpacity; }
     25% { opacity: 0; }
     45% { opacity: 0; }
     50% { opacity: $fadeInOpacity; }
     55% { opacity: 0; }
     75% { opacity: 0; }
     80% { opacity: $fadeInOpacity; }
     85% { opacity: 0; }
    100% { opacity: 0; }
}
