<!-- AccessLayer/portal-access/angular-app/src/app/currency-converter/currency-converter.component.html -->
<div class="row justify-content-center header-container">
  <h1 class="text-center"><span class="logo"></span>Currency converter</h1>
</div>

<div class="row comment">
  <p>This example application takes your input, sends it to access layer microservice written using Spring REST (based on Spring Boot and fully managed by JLUPIN Next Server), then internally sends data to business logic microservice. The output result is table with amount you typed converted to EUR, GBP, CHF.</p>
  <p>Project sources are available on github: <a href="https://github.com/jlupin/demo-apps" target="_blank">https://github.com/jlupin/demo-apps</a></p>
</div>

<div class="row justify-content-center form-container">
  <button *ngIf="!animationEnabled" class="btn btn-success" (click)="animationEnabled = true">Enable animation</button>
  <button *ngIf="animationEnabled" class="btn btn-danger" (click)="animationEnabled = false">Disable animation</button>
  <button *ngIf="!liveMode" class="btn btn-success" (click)="startLiveMode()">Start live mode</button>
  <button *ngIf="liveMode" class="btn btn-danger" (click)="stopLiveMode()">Stop live mode</button>
</div>

<div class="row justify-content-center form-container">
  <form class="form" #convertForm="ngForm" (ngSubmit)="convert()">
    <div class="form-group">
      <div class="form-row">
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <input class="form-control" placeholder="Type in amount to convert..." pattern="\d+(\.\d{2})?"
                 [(ngModel)]="value" name="value"/>
          <button class="btn btn-primary" type="submit">Convert</button>
        </div>

      </div>
    </div>
  </form>
</div>

<div class="architecture">
  <div *ngIf="animationRunning" class="top-row">
    <div class="portal-access"></div>
    <div class="main-server"></div>
  </div>
  <div *ngIf="animationRunning" class="bottom-row">
    <div class="left-column">
      <div class="currency-converter-eur"></div>
      <div class="currency-converter-gbp"></div>
      <div class="currency-converter-chf"></div>
    </div>
    <div class="right-column">
      <div class="exchange-rates"></div>
    </div>
  </div>
</div>

<div *ngIf="convertOutList && !animationRunning" class="row justify-content-center result-container fade-in">
  <table class="table table-striped">
    <tbody>
      <tr *ngFor="let row of convertOutList">
        <th scope="row">{{ row.currency }}</th>
        <td>{{ row.value ? row.value.toFixed(2) : 'N/A' }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="errorMessage && !animationRunning" class="alert alert-danger fade-in" role="alert">
  {{ errorMessage }}
</div>
